*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardItem{
    
    width: 250px;
    height: 470px;
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

}

/*imagen*/
.cardItem .cardImg{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.cardItem .cardImg img{
    width: 100%;
    height: 100%;
}

/*descripcion*/
.cardDescription{
    display: flex;
    flex-direction: column;
}

.cardDescription .title{
    font-size: 20px;
    margin: 6px 0;
}

.cardDescription .description .descriptionTitle{
    display: none;
}

.cardDescription .cant{
    color: black;
    font-size: 10px;
    height: 5px;
}

.cardDescription .precio{
    color: #e43606;
    font-size: 25px;
    font-weight: bold;
    margin: 6px 0;
}

/* Contenedor de botones */

.buttons{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons #detalles{
    height: 70%;
    width: 80%;
    border-radius: 50px;
    background-color: #e43606;
    color: black;
    border: none;
}

.buttons #detalles:hover{
    background-color: #f65e0e;
}

.buttons #addCart{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #e43606;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.buttons #addCart img{
    width: 25px;
    height: 20px;
}

