:root{
  --color-txt-nav: #5b00fb
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
 
}

header{
  width: 100%;
  height: 60px;
  display: flex;
}

header .containerBrand{
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .containerBrand img{
width: 50px;
}


/* ContainerList*/
header .containerItemList{
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .containerItemList ul{
  list-style: none;
  display: flex;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
}

header .containerItemList ul li{
  list-style: none;
  margin: 10px;
  color: black;
}

/* ContainerCart */

header .containerCart{
  width: 5%;
  height: 100%;
  margin-right: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header .containerCart img{
  width: 28px;
}

header .containerCart .containerLength{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

header .containerCart .containerLength .cantCart{
  position: absolute;
  width: 20px;
  height: 20px;
  color: white;
  background-color: black;
  text-align: center;
  top: 0;
  left: 100%;
  border-radius:50% ;

}